body{
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #0f1b1a;
    color: #ffffff;
    text-align: center;
}
h1, h2{
    margin-bottom: 10px;
}
section{
    padding: 40px 20px;
    text-align: center;
}
/* Hero */
:root{
    --dark:#0f0f0f;
    --coffe:#2a1e16;
    --accent:#c8a97e;
    --text: #f5f5f5;
}
.hero{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.5)
    ),
     url("back-image.jpg");
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px;
}

.logo{
    width: 280px;
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #c7a75a;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
}
/* Menu */
.tab{
    background: none;
    border: 1px solid #c7a75a;
    color: #fff;
    padding: 8px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}
.tab.active{
    background-color: #c7a75a;
    color: #000;
}
.contest{
    background: linear-gradient(
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.7)
    ),
     url("backMenu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-section{
    display: none;
}
.menu-section.active{
    display: block;
}
.menu-section ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px 30px;
    list-style: none;
    padding: 0;
    margin: 0;

}
.menu-section li{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* Contect */
.contect{
    
    padding: 20px;
}
.qr{
    text-align: center;
    padding: 40px 0;
}
.qr img{
    width: 160px;
}
.whatsapp-btn{
    display: inline-block;
    background-color: #147b3a;
    color: white;
    padding: 12px 25px ;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.whatsapp-btn:hover{
    background-color: #12bc7e;
    transform: scale(1.05);
}
.submit{
    padding: 15px 20px;
    margin: 30px;
    border: 2px ;
    background: linear-gradient(
        rgba(255,255,255,0.4)
    );
    color: #000;
    border-radius: 25px;
}
#shada{

    font-size: large;
    width: 300px;
    color: #000;
     padding: 15px 10px;
    margin: 0 auto;
    border: 2px ;
    background: linear-gradient(
        rgba(255,255,255,0.4));
        border-radius: 25px;
}

@media (max-width: 600px){
    .menu-section ul{
        grid-template-columns: 1fr;
    }
}