body{
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #0f1b1a;
    color: #ffffff;
    text-align: center;
}
h1, h2{
    margin-bottom: 10px;
}
section{
    padding: 40px 20px;
    text-align: center;
}
/* Hero */
:root{
    --dark:#0f0f0f;
    --coffe:#2a1e16;
    --accent:#c8a97e;
    --text: #f5f5f5;
}
.hero{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.5)
    ),
     url("back-image.jpg");
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px;
}

.logo{
    width: 250px;
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #c7a75a;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
}
/* Menu */
.tab{
    background: none;
    border: 1px solid #c7a75a;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}
.tab.active{
    background-color: #c7a75a;
    color: #000;
}
.menu-section{
    display: none;
}
.menu-section.active{
    display: block;
}
.menu-section ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px 30px;
    list-style: none;
    padding: 0;
    margin: 0;

}
.menu-section li{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* Contect */
.contect{
    background-color: #0a1312;
}
@media (max-width: 600px){
    .menu-section ul{
        grid-template-columns: 1fr;
    }

}
